body,html{
		background-color:#000000;
		font-size:14px;
		font-family:arial;
		margin:0px;
		padding:0px;
		color:#00FF00;
}

/*Links*/
a:link {
		color:#00FF00;
		text-decoration:none;
		font-weight: bold;
}
a:visited {
		color:#00FF00;
		text-decoration:none;
		font-weight: bold;
}
a:active {
		color:#00FF00;
		text-decoration:none;
		font-weight: bold;
}
a:hover {
		color:#00FF00;
		text-decoration:underline;
		font-weight: bold;
}

/*Misc*/

/*
div{
	border: 2px solid gray;
}*/

/*Page Sections*/

#left_content{
	height: 95%;
	width: 15%;
	float: left;
	border-right: solid gray;
	overflow: auto;
}

#nav{
	float: inherit;
}

#quick_broadcast{
	float: inherit;
}

#body_content{
	height: 95%;
	width: 65%;
	float: left;
	overflow: auto;
}

#right_content{
	height: 95%;
	width: 18%;
	float: left;
	border-left:solid gray;
	overflow: auto;
}

#server_status{
	width: 100%;
	height: 80%;
}

#alerts{
	width: 100%;
	height: 20%;
}

#copyright{
	clear: both;
	width: 100%;
	height: 2%;
	border-top: solid gray;
	text-align: center;
}

#feedbackmsg{
	float: inherit;
}

/*Alerts*/
#alerts{

}

span.alert_time{

}

span.alert_server{

}

span.alert_text{

}

/**/

#errormsg{
	color: #ff0000;
	text-decoration: underline;
}

/* JQuery Stuffs */

#feedback { font-size: 1.4em; }
.server_list .ui-selecting {

	opacity:0.1;
	filter:alpha(opacity=10); /* For IE8 and earlier */

}
.server_list .ui-selected {
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier padding: 0.4em; */
	color: white;
}
.server_list { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.server_list li { padding-bottom:85px; padding-top: 0px; margin: 3px;  font-size: 1.4em; height: 18px; }

* { font-family: Verdana; font-size: 96%; }
label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }

@import url "menu.css";