body,html{
		background-color:#FFFFFF;
		font-size:14px;
		font-family:arial;
		margin:0px;
		padding:0px;
		color:#00FF00;
}

/*Links*/
a:link {
		color:#00FF00;
		text-decoration:none;
		font-weight: bold;
}
a:visited {
		color:#00FF00;
		text-decoration:none;
		font-weight: bold;
}
a:active {
		color:#00FF00;
		text-decoration:none;
		font-weight: bold;
}
a:hover {
		color:#00FF00;
		text-decoration:underline;
		font-weight: bold;
}

/*Misc*/

/*
div{
	border: 2px solid gray;
}*/

/*Page Sections*/

#left_content{
	height: 98%;
	width: 15%;
	float: left;
	border-right: solid gray;
}

#nav{
	float: inherit;
}

#quick_broadcast{
	float: inherit;
}

#body_content{
	height: 98%;
	width: 65%;
	float: left;
}

#right_content{
	height: 98%;
	width: 15%;
	float: left;
	border-left:solid gray;
}

#server_status{
	width: 100%;
	height: 80%;
}

#alerts{
	width: 100%;
	height: 20%;
}

#copyright{
	clear: both;
	width: 100%;
	height: 2%;
	border-top: solid gray;
	text-align: center;
}

/*Alerts*/
#alerts{

}

span.alert_time{

}

span.alert_server{

}

span.alert_text{

}

/**/

#errormsg{
	color: #ff0000;
	text-decoration: underline;
}

/* JQuery Stuffs */

#feedback { font-size: 1.4em; }
.server_list .ui-selecting { background: #FECA40; }
.server_list .ui-selected { background: #F39814; color: white; }
.server_list { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.server_list li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }